/Hat.NET/.vs/Hat.NET/v14/.suo
/Hat.NET/.vs/config/applicationhost.config
/Hat.NET/App.config
/Hat.NET/bin/Debug/Hat.NET.exe
/Hat.NET/bin/Debug/Hat.NET.exe.config
/Hat.NET/bin/Debug/Hat.NET.pdb
/Hat.NET/bin/Debug/Hat.NET.vshost.exe
/Hat.NET/bin/Debug/Hat.NET.vshost.exe.config
/Hat.NET/bin/Debug/poop.png
/Hat.NET/bin/Debug/server/index.txt
/Hat.NET/bin/Debug/server/poop.png
/Hat.NET/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Hat.NET/obj/Debug/Hat.NET.csproj.FileListAbsolute.txt
/Hat.NET/obj/Debug/Hat.NET.csprojResolveAssemblyReference.cache
/Hat.NET/obj/Debug/Hat.NET.exe
/Hat.NET/obj/Debug/Hat.NET.pdb
/Hat.NET/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Hat.NET/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Hat.NET/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Hat.NET/bin/Debug/Hat.NET.vshost.exe.manifest
/Hat.NET/bin/Debug/server/404
/Hat.NET/bin/Debug/server/Bagr/index.html
/Hat.NET/bin/Debug/server/index.html
/Hat.NET/CodeFile1.wc
/Hat.NET/bin/Debug/Hat.log
/Hat.NET/bin/Debug/server/ExampleExtension.cs
/Hat.NET/bin/Debug/server/ExampleExtension.txt
/Hat.NET/bin/Debug/server/README.md
/Hat.NET/bin/Debug/server/javascripts/scale.fix.js
/Hat.NET/bin/Debug/server/stylesheets/pygment_trac.css
/Hat.NET/bin/Debug/server/stylesheets/styles.css
/Hat.NET/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Hat.NET/bin/Debug/server/Bagr/index.txt
/Hat.NET/bin/Debug/configs/Main
/Hat.NET/bin/Debug/configs/Main.cfg
/Hat.NET/bin/Debug/server/_config.yml
/Hat.NET/bin/Debug/server/legowev
/.vscode/launch.json
/Hat.NET/Hat.NET.userprefs
/Hat.NET/bin/Debug/services/service.subdomains
/Hat.NET/bin/Debug/test/index.html
/Hat.NET/bin/Debug/website bieren/b3_16655786.txt
/Hat.NET/bin/Debug/website bieren/credits.txt
/Hat.NET/bin/Debug/website bieren/css/bootstrap.min.css
/Hat.NET/bin/Debug/website bieren/css/style.css
/Hat.NET/bin/Debug/website bieren/css/templatemo_main.css
/Hat.NET/bin/Debug/website bieren/images.zip
/Hat.NET/bin/Debug/website bieren/images/beer_sprite.jpg
/Hat.NET/bin/Debug/website bieren/images/bieren/augustijn-grand-cru.jpg
/Hat.NET/bin/Debug/website bieren/images/btn-menu-1.png
/Hat.NET/bin/Debug/website bieren/images/btn-menu.png
/Hat.NET/bin/Debug/website bieren/images/nature1.jpg
/Hat.NET/bin/Debug/website bieren/images/nature2.jpg
/Hat.NET/bin/Debug/website bieren/images/nature3.jpg
/Hat.NET/bin/Debug/website bieren/images/nature4.jpg
/Hat.NET/bin/Debug/website bieren/images/nature5.jpg
/Hat.NET/bin/Debug/website bieren/images/status.gif
/Hat.NET/bin/Debug/website bieren/index.html
/Hat.NET/bin/Debug/website bieren/js/bierflessen.js
/Hat.NET/bin/Debug/website bieren/js/jquery.backstretch.min.js
/Hat.NET/bin/Debug/website bieren/js/jquery.min.js
/Hat.NET/bin/Debug/website bieren/js/parllexbeer.js
/Hat.NET/bin/Debug/website bieren/js/templatemo_script.js
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/b3_16655786.txt
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/credits.txt
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/css/bootstrap.min.css
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/css/style.css
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/css/templatemo_main.css
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images.zip
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/beer_sprite.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/bieren/augustijn-grand-cru.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/btn-menu-1.png
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/btn-menu.png
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/nature1.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/nature2.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/nature3.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/nature4.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/nature5.jpg
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/images/status.gif
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/index.html
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/js/bierflessen.js
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/js/jquery.backstretch.min.js
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/js/jquery.min.js
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/js/parllexbeer.js
/Hat.NET/bin/Debug/website bieren/templatemo_398_nature/templatemo_398_nature/js/templatemo_script.js
/Hat.NET/bin/Debug/ngen.exe
/Hat.NET/bin/Debug/ngen.log
/Hat.NET/bin/Debug/configs/Console.cfg
/CSScriptSupport/obj/Debug/CSScriptSupport.csproj.FileListAbsolute.txt
/CSScriptSupport/obj/Debug/CSScriptSupport.csprojResolveAssemblyReference.cache
/CSScriptSupport/obj/Debug/CSScriptSupport.dll
/CSScriptSupport/obj/Debug/CSScriptSupport.pdb
/CSScriptSupport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CSScriptSupport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CSScriptSupport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CSScriptSupport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CSScriptSupport/bin/Debug/CSScriptSupport.dll
/CSScriptSupport/bin/Debug/CSScriptSupport.pdb
/CSScriptSupport/bin/Debug/Hat.NET.exe
/CSScriptSupport/bin/Debug/Hat.NET.pdb
/CSScriptSupport/bin/Debug/Mono.CSharp.dll
/Hat.NET/bin/Debug/server/b3_16655786.txt
/Hat.NET/bin/Debug/server/credits.txt
/Hat.NET/bin/Debug/server/css/bootstrap.min.css
/Hat.NET/bin/Debug/server/css/style.css
/Hat.NET/bin/Debug/server/css/templatemo_main.css
/Hat.NET/bin/Debug/server/images.zip
/Hat.NET/bin/Debug/server/images/beer_sprite.jpg
/Hat.NET/bin/Debug/server/images/bieren/augustijn-grand-cru.jpg
/Hat.NET/bin/Debug/server/images/btn-menu-1.png
/Hat.NET/bin/Debug/server/images/btn-menu.png
/Hat.NET/bin/Debug/server/images/nature1.jpg
/Hat.NET/bin/Debug/server/images/nature2.jpg
/Hat.NET/bin/Debug/server/images/nature3.jpg
/Hat.NET/bin/Debug/server/images/nature4.jpg
/Hat.NET/bin/Debug/server/images/nature5.jpg
/Hat.NET/bin/Debug/server/images/status.gif
/Hat.NET/bin/Debug/server/js/bierflessen.js
/Hat.NET/bin/Debug/server/js/jquery.backstretch.min.js
/Hat.NET/bin/Debug/server/js/jquery.min.js
/Hat.NET/bin/Debug/server/js/parllexbeer.js
/Hat.NET/bin/Debug/server/js/templatemo_script.js
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/b3_16655786.txt
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/credits.txt
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/css/bootstrap.min.css
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/css/style.css
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/css/templatemo_main.css
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images.zip
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/beer_sprite.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/bieren/augustijn-grand-cru.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/btn-menu-1.png
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/btn-menu.png
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/nature1.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/nature2.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/nature3.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/nature4.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/nature5.jpg
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/images/status.gif
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/index.html
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/js/bierflessen.js
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/js/jquery.backstretch.min.js
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/js/jquery.min.js
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/js/parllexbeer.js
/Hat.NET/bin/Debug/server/templatemo_398_nature/templatemo_398_nature/js/templatemo_script.js
/Hat.NET/bin/Debug/test/javascripts/player.js
/Hat.NET/bin/Debug/test/sass/chat.scss
/Hat.NET/bin/Debug/test/sass/style.scss
/Hat.NET/bin/Debug/test/stylesheets/chat.css
/Hat.NET/bin/Debug/test/stylesheets/style.css
